
.footer{
  background: #1e5c52;
  padding: 20px 0;
}
.footer__wrapper{
  display: flex;
  flex-direction: column;
  color: #fff;
  justify-content: center;
  align-items: center;
  font-weight: 400;
}
.footer__info {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
.footer__item{
  transition: all .3s ease 0s;
}

.footer__item:hover{
  filter: brightness(1.1);
  font-weight: 600;
  transition-delay: 2s;
}